.globalElem {
   margin: auto;
   width: 80%;
}

.textExt {
 cursor: pointer;
}

.textExt p {
    font-weight: 500;
    text-align: center;
}

.textElemExt {
    background-color:rgb(184, 184, 184,0.2);
    box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 0.7rem;
    font-size: 1.1em;
}

.titreText { 
    font-weight: bolder;
    color:#EFEFED;
    font-weight: bolder;
    font-size: 130%;
    border-bottom: 3px solid #FF5700;
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 0.5%;
}

.competence-elem {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.competence-barre-elem {
    height: 5rem;
    background-color: grey;
    line-height: 5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-bottom: 0.5rem solid #FF5700;
}

.competence-barre-elem p {
    margin-left: 2rem;
    font-size: 200%;
    font-weight: bolder;
}

.image-logo-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
}

.imageA {
 width: 20%;
 align-self: center;
}

.comp-img-a {
    height: max-content;
    display: flex;
    width: 30%;
    margin: auto;
    border-radius: 3px;  
}

.image-logo {
    height: max-content;
    width: 5%;
    align-self: center;
}

.image-logo-ici {
    height: max-content;
    display: flex;
    width: 100%;
    margin: auto;     
}

@media(max-width:1000px) {
    .textExt p {
        text-align: left;
    }
    .titreText {
        margin-left: 0;
        margin-right: 0;
    }
}



