.globalElem {
   margin: auto;
   width: 80%;
}

.textExt {
 cursor: pointer;
}

.textExt div {
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.5%;
}

.textElemExt {
    background-color:rgb(184, 184, 184,0.2);
    border-radius: 3px;
    padding: 0.7rem;
    font-size: 1.1em;
}

.titreText { 
    font-weight: bolder;
    color:#EFEFED;
    font-weight: bolder;
    font-size: 130%;
    border-bottom: 1px solid #38B6FF;
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 0.5%;
}

.competence-elem {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.comp-text {
    color: #EFEFED;
}

.competence-barre-elem {
    height: 5rem;
    background-color: grey;
    line-height: 5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-bottom: 0.2rem solid #38B6FF
}

.competence-barre-elem p {
    margin-left: 2rem;
    font-size: 200%;
    font-weight: bolder;
}

.image-logo-container, .image-photo-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
}

.imageA {
 width: 20%;
 align-self: center;
}

.comp-img-a {
    height: max-content;
    display: flex;
    width: 30%;
    margin: auto;
    border-radius: 3px;  
}

.image-logo {
    height: max-content;
    width: 5%;
    align-self: center;
}

.image-logo-ici {
    height: max-content;
    display: flex;
    width: 100%;
    margin: auto;     
}

.contact-message-send {
    font-weight: bold;
    color: #38B6FF;
}

@media(max-width:1220px) {
    .textExt div {
        text-align: left;
    }
    .titreText {
        margin-left: 0;
        margin-right: 0;
    }
    .comp-img-a {
        width: 50%;
    }
    .image-logo {
        width: 10%;
    }
    .image-logo-ici {
        width: 130%;
    }

}

@media(max-width:600px) {
    .comp-img-a {
        width: 80%;
    }
    .image-logo {
        width: 20%;
    }
    .image-logo-container {
        flex-wrap: wrap;
    }
    .image-logo-ici {
        width: 150%;
    }
}




