.acceuil-main-container {
    margin: auto; 
    width: 80%;
    height: fit-content;
    border:0.1px solid #EFEFED;
    margin-top: 1%;
    border-radius: 3px;
    color: #EFEFED;
   background-image: url(../../pic.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.acceuil-container {
    display: flex;
    height: max-content;
    flex-direction: row;
    justify-content: space-between;
    margin: auto; 
    width: 95%;
    vertical-align: middle;
    margin-top: 12%;
    margin-bottom: 12%;
}

.acceuil-textdefilant {
    color: #EFEFED;
    font-weight: bolder;
    margin:3%;
    padding:2%;
    width:70%;
}



.acceuil-single-box-text {
    background-color: black;
    padding: 2%;
    border:0.5px solid rgb(100, 100, 100); 
    border-radius: 3px;
    opacity: 0.9;
    display: flex;
    margin: auto; 
    height:100%;
    }

.acceuil-single-box-text {
    justify-content: space-between;
    flex-direction: column;
    margin-right: 5%;
    padding: 3%;
    width: 40%;
}

.acceuil-single-box-image {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 5%;
    width: fit-content;
    padding: 1%;
    opacity: 0.9;    
    display: flex;
    flex-direction:column;
}

.acceuil-dev {
    font-size: 220%;
    word-break:normal;
}

.acceuil-element {
    font-size: 150%;
    word-break: break-all;

}

.acceuil-element-text{
    font-size: 100%;

}

.acceuil-element a {
    text-decoration: none;
    color: whitesmoke;
}

.acceuil-element a:hover {
    color: lightblue;
 }

 .acceuil-photo {
    background-color: black;
    height: 50%;
    width: 50%;
    margin: auto; 
    opacity: 1 !important;
    border:0.5px solid rgb(100, 100, 100); 
    padding:2%;
}

.acceuil-icones {
    width: max-content;
    margin: auto;
    display: flex;
    margin-top: 1%;
}

.acceuil-icones img {
    width: 2rem;
    opacity: 1 !important; 
    background-color: #38B6FF;  
    border-radius: 5px; 
    padding: 3px; 
    margin-left: 3px;
    margin-right: 3px;
}

.acceuil-textdefilant {
    font-size: 1rem;
    position: absolute;
}

.portfolio-titre {
    border-bottom: 4px solid #38B6FF; 
    line-height: 3rem;
   }

.acceuil-element a {
    word-break: break-all;
   }

@media (max-width: 1050px) {
    .acceuil-container {
        flex-direction: column;
        align-items: center;
    }
    .acceuil-single-box-image {
        margin-top: 1rem;
        margin-left: 0;
        margin: auto;
        justify-content: space-around;
    }
    .acceuil-single-box-text {
        margin:auto; 
        margin-right: 0;
        justify-content: space-around;
        width: 93%;
    
    }
}