.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin:auto;
    margin-top: 1%;
    margin-bottom: 2%;
    border-bottom: 0.5rem solid #38B6FF;
}

.navigation-start {
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    white-space: nowrap;
    font-weight: bolder;
    font-size: 240%;
    margin-left: 2%;
    margin-bottom: 0.5%;
    text-shadow: 
    0 0 0 	black,
    .0025em .0025em 0 	black,
    .005em .005em 0 black,
    .0075em .0075em 0 black,
    .01em .01em 0 black,
    .0125em .0125em 0 black,
    .015em .015em 0 black,
    .0175em .0175em 0 black;                                
}

.navigation-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    margin-right: 2%;
    margin-top: 0.7%;
    margin-bottom: 0.9%;
}

.navigation-element a, .navigation-element-cachee a {
    white-space: nowrap;
    color: #EFEFED;
    font-size: 120%;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
    color: #EFEFED;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 1%;
    margin-left: 1%;
    
  }

.navigation-element a:hover, .navigation-element-cachee a:hover {
    background-color: #38B6FF;
    color: #222222;
    cursor: pointer;
    border-radius: 3px;
}

.navigation-cachee {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-right: 7%;
    margin-top: 0.5%;
    margin-bottom: 2%;
    margin: auto;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center; 
    border-bottom: 0.5rem solid #38B6FF;
 }

.navigation-start-cachee{   
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    white-space: nowrap;  
    font-size: 150%;

}

.navigation-cachee-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end; 
    transform-origin: top center;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;   
    margin-top: 20%;
}

.navigation-element-cachee {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding: 10%;
    width: 100%;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;   
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    50% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.burgermenulogo {
    position: absolute; 
    top:1%;
    right:1%;
    height: 25px;
    margin-top: 0.5%;
    margin-right: 0.5%; 
}

.navigation-start, .navigation-start-cachee {
    color: #EFEFED;
}

@media(max-width:1180px) {
    .navigation {
        flex-direction: column;
        justify-content: center;
    }
    .navigation-start {
        justify-content: center;
        margin-bottom: 1%;
    }
    .navigation-end {
        justify-content: center;
    }
    .navigation-element {
        margin-left: 0.2%;
        margin-right: 0.2%;
    }
}
@media(max-width:600px) {
    .navigation {
        display: none; 
    }
}
@media (min-width: 601px) {
    .navigation-cachee {
        display: none;
    }
}

.blue a{
    background-color: #38B6FF;
    border:1px solid #222222;
}

.blue a:hover{
    background-color: #222222;
    color: #38B6FF;
    border:1px solid #38B6FF;
}